<span class="badge">发表评论</span>
<%= form_for([@article, @article.comments.build]) do |f| %>
    <table>
      <tr>
        <td>
          <%= f.kindeditor :body %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit "保存" %>
        </td>
      </tr>
    </table>
<% end %>
