<!DOCTYPE html>
<html>
	<head>
    <title>Hi</title>
     
    <link type="text/css" href="css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <link href="bootstrap/bootstrap.css" rel="stylesheet">
		<%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>
	</head>
	<body>
		<h1>Hi rails </h1>
		<%= yield %>

	</body>
</html>
